*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.profile img{
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("img.jpg");
    background-size: cover;
}
.profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 3em;
        padding: 2% 2%;
        border-radius: 1rem;
        background-color: rgba(59, 59, 59, 0.25);
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: white;

}
.num{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    color: rgb(255, 255, 255);
}
.but button{
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    border: 2px solid transparent;

}
.but .follow{
    background-color: white;
    color:black ;
}
.but .follow:hover{
    background-color: transparent;
    border: 2px solid white;
    color:rgb(255, 255, 255) ;
}

.but .msg{
    background-color: transparent;
    color:rgb(255, 255, 255) ;
    border: 2px solid white;
}
.but .msg:hover{
    background-color: white;
    color: black;
}
.num .box p:first-child{
    font-weight: 800;
}
.num .box p:last-child{
    font-weight: 400;
    opacity: 0.8;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.info p{
    margin-top: 10px;
}

